<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>2014658009, 김기대</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="text-decoration:none;">
                    <img th:src="@{/images/spring_boot.png}" class="img-rounded"
                         style="display:inline-block;height:100%;margin-right:5px"/>
                    <span style="vertical-align:middle;">SpringBoot Community Web</span>
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="page-header">
        <h1>회원 등록</h1>
    </div>
    <form action="#" th:action="@{/profile/update/{idx}(idx=${profile.idx})}" th:object="${profile}" method="post">
        <div class="form-group row">
            <label for="network" class="col-sm-2 col-form-label">SNS</label>
            <div class="col-sm-10">
                <input th:field="*{network}" type="text" class="form-control" id="network" placeholder="SNS">
            </div>
        </div>
        <div class="form-group row">
            <label for="userName" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input th:field="*{userName}" type="text" class="form-control" id="userName" placeholder="ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="url" class="col-sm-2 col-form-label">링크</label>
            <div class="col-sm-10">
                <input th:field="*{url}" type="text" class="form-control" id="url" placeholder="링크">
            </div>
        </div>
        <div class="form-group row">
            <label for="createDat" class="col-sm-2 col-form-label">등록시간</label>
            <div class="col-sm-10">
                <input th:field="*{createDat}" type="text" class="form-control" id="createDat" placeholder="등록시간">
            </div>
        </div>
        <input type="submit" value="작성">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>